# Python bytecode:
*.py[co]
*.pyc

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# DS_store files:
*.DS_Store

# PASS
cdlibrary/cdlibrary/settings/passwd.py